<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{'index.html' | relative_url}}">
            <img src="{{'/assets/images/favicon/favicon_gross.png' | relative_url}}" width="32" height="32" class="d-inline-block align-top" alt="LiGo Mini Icon">
            <span class="brand_long">Literaturwissenschaftliche Grundbegriffe online</span>
            <span class="brand_short">Lit. Grundbegriffe online</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{{'_pages/hauptauswahl/wissensbereiche.html' | relative_url}}">
                        Wissensbereiche
                    </a>
                    <a class="dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-caret-down-fill"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item" href="{{'_pages/verzeichnisse/inhalt_prosa.html' | relative_url}}">Prosa</a></li>
                        <li><a class="dropdown-item" href="{{'_pages/verzeichnisse/inhalt_drama.html' | relative_url}}">Drama</a></li>
                        <li><a class="dropdown-item" href="{{'_pages/verzeichnisse/inhalt_lyrik.html' | relative_url}}">Lyrik</a></li>
                        <li><a class="dropdown-item" href="{{'_pages/verzeichnisse/inhalt_metrik.html' | relative_url}}">Metrik</a></li>
                        <li><a class="dropdown-item" href="{{'_pages/verzeichnisse/inhalt_rhetorik.html' | relative_url}}">Rhetorik/Stilistik</a></li>
                        <li><a class="dropdown-item" href="{{'_pages/verzeichnisse/inhalt_edition.html' | relative_url}}">Edition</a></li>
                        <li><a class="dropdown-item" href="{{'_pages/verzeichnisse/inhalt_literaturtheorie.html' | relative_url}}">Literaturtheorie</a></li>
                        <li><a class="dropdown-item" href="{{'_pages/verzeichnisse/inhalt_literaturgeschichte.html' | relative_url}}">Literaturgeschichte</a></li>
                        <li><a class="dropdown-item" href="{{'_pages/verzeichnisse/inhalt_fachgeschichtegerm.html' | relative_url}}">Fachgeschichte</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{{'_pages/hauptauswahl/verzeichnisse.html' | relative_url}}">
                        Verzeichnisse
                    </a>
                    <a class="dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-caret-down-fill"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <li><a class="dropdown-item" href="{{'_pages/verzeichnisse/kursinhalte.html' | relative_url}}">Kursinhalte</a></li>
                        <li><a class="dropdown-item" href="{{'_pages/verzeichnisse/glossar.html' | relative_url}}">Glossar</a></li>
                        <li><a class="dropdown-item" href="{{'_pages/verzeichnisse/bibliographie.html' | relative_url}}">Bibliographie</a></li>
                        <li><a class="dropdown-item" href="{{'_pages/verzeichnisse/personen.html' | relative_url}}">Personen</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{{'_pages/hauptauswahl/ueber_ligo.html' | relative_url}}">
                        Über LiGo
                    </a>
                    <a class="dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-caret-down-fill"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <li><a class="dropdown-item" href="{{'_pages/ueber_ligo/inhalt_aufbau.html' | relative_url}}">Inhalt/Aufbau</a></li>
                        <li><a class="dropdown-item" href="{{'_pages/ueber_ligo/technisches_benutzung.html' | relative_url}}">Technisches/Benutzung</a></li>
                        <li><a class="dropdown-item" href="{{'_pages/ueber_ligo/entwicklung_relaunch.html' | relative_url}}">Entwicklung/Relaunch</a></li>
                        <li><a class="dropdown-item" href="{{'_pages/ueber_ligo/beteiligte_universitaeten.html' | relative_url}}">Beteiligte Universitäten</a></li>
                        <li><a class="dropdown-item" href="{{'_pages/ueber_ligo/uebungstypen.html' | relative_url}}">Übungstypen</a></li>
                        <li><a class="dropdown-item" href="{{'_pages/ueber_ligo/hinweise_autoren.html' | relative_url}}">Hinweise für Autoren</a></li>
                        <li><a class="dropdown-item" href="{{'_pages/ueber_ligo/suche.html' | relative_url}}">Suche</a></li>
                        <li><a class="dropdown-item" href="{{'_pages/ueber_ligo/weiterfuehrende_links.html' | relative_url}}">Weiterführende Links</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{{'_pages/hauptauswahl/tests.html' | relative_url}}">
                        Tests
                    </a>
                    <a class="dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-caret-down-fill"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
                        <li><a class="dropdown-item" href="{{'_pages/tests/zeit.html' | relative_url}}">Erzähltextanalyse - Zeit</a></li>
                        <li><a class="dropdown-item" href="{{'_pages/tests/modus.html' | relative_url}}">Erzähltextanalyse - Modus</a></li>
                        <li><a class="dropdown-item" href="{{'_pages/tests/stimme.html' | relative_url}}">Erzähltextanalyse - Stimme</a></li>
                        <li><a class="dropdown-item" href="{{'_pages/tests/metrik.html' | relative_url}}">Metrik</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Suchbegriff eingeben" aria-label="Search">
                <button class="btn btn-primary" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
    </div>
</nav>