<script src="{{'/assets/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/js/jquery-3.6.0.min.js' | prepend: site.baseurl}}"></script>
{% if page.type == 'liste' %}
    <script src="{{'/assets/js/ausklappen_rotieren.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/zustand_merken.js' | prepend: site.baseurl}}"></script>
{% endif %}
{% if page.type == 'lerneinheit' %}
    <script src="{{'/assets/js/ausklappen_rotieren.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/js/uebungen.js' | prepend: site.baseurl}}"></script>
{% endif %}
{% if page.type == 'test' %}
    <script src="{{'/assets/js/tests.js' | prepend: site.baseurl}}"></script>
{% endif %}