/* Verzeichnisse-Auswahl */

.center_content {
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

.verzeichnisse_flex, .tests_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: calc(2*(300px + 20px));
    gap: 15px;
}

.ueber_ligo_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: calc(4*(300px + 20px));
    gap: 15px;
}

.wissensbereiche_flex, .uebungstypen_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: calc(3*(300px + 20px));
    gap: 15px;
}
