/* Verzeichnisse-Auswahl */

.center_content {
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

.verzeichnisse_flex, .tests_flex, .wissensbereiche_flex, .uebungstypen_flex, .ueber_ligo_flex, .literaturgeschichte_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.verzeichnisse_flex, .tests_flex {
    max-width: calc(2*(300px + 20px));
}

.wissensbereiche_flex, .uebungstypen_flex {
    max-width: calc(3*(300px + 20px));
}

.ueber_ligo_flex, .literaturgeschichte_flex {
    max-width: calc(4*(300px + 20px));
}