/* ZENTRIERUNG */

/* Horizontales Zentrieren des gesamten Button-Rasters */
.center_content {
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

/* Horizontales Zentrieren der einzelnen Buttons */
.max_2_columns, .max_3_columns, .max_4_columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}


/* SPALTENANZAHL (auf großen Bildschirmen mit ausreichend Platz -> Auf kleineren Bildschirmen: automatische Darstellung der Buttons untereinander dank Flexbox) */

/* Maximal 2 Spalten (-> Für: Verzeichnisse, Tests) */
.max_2_columns {
    max-width: calc(2*(300px + 20px));
}

/* Maximal 3 Spalten (-> Für: Wissensbereiche, Übungstypen) */
.max_3_columns {
    max-width: calc(3*(300px + 20px));
}

/* Maximal 4 Spalten (-> Für: Über LiGo) */
.max_4_columns {
    max-width: calc(4*(300px + 20px));
}