/* STARTSEITE-BUTTONS */

.index_button {
    color: white;
    background-color: #003aad;
    border: 2px solid #003aad;
    width: 250px;
    padding: 25px 0;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
}

/* Button-Farbwechsel von blau zu weiß bei Hover -> Nur auf Geräten, die Hover unterstützen (-> Keine Touchscreens) */
@media (hover: hover) {
    .index_button:hover {
        color: #003aad;
        background-color: white;
    }
}


/* AUSWAHLSEITEN-BUTTONS */

.select_button {
    color: #003aad;
    background-color: white;
    border: 2px solid #003aad;
    width: 300px;
    padding: 40px 0;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
}

/* Button-Farbwechsel von weiß zu blau bei Hover -> Nur auf Geräten, die Hover unterstützen (-> Keine Touchscreens) */
@media (hover: hover) {
    .select_button:hover {
        color: white;
        background-color: #003aad;
    }
}


/* ÜBUNGEN-BUTTONS */

.exercise_buttons >* {
    color: white;
    background-color: #003aad;
    border: 2px solid #003aad;
    border-radius: 3px;
    text-decoration: none;
    width: 180px;
    height: 60px;
    cursor: pointer;
}

/* Button-Farbwechsel von blau zu weiß bei Hover -> Nur auf Geräten, die Hover unterstützen (-> Keine Touchscreens) */
@media (hover: hover) {
    .exercise_buttons >*:hover {
        color: #003aad;
        background-color: white;
        border: 2px solid #003aad;
    }
}


/* ALLE ANZEIGEN/VERBERGEN-BUTTONS (-> Für ausklappbare Listen + Beispiele/Übungen auf Kursseiten) */

.show_collapse_button {
    color: #003aad;
    background-color: white;
    border: 2px solid #003aad;
    border-radius: 3px;
    text-decoration: none;
    margin: 1rem 0;
    display: block;
    cursor: pointer;
}

/* Button-Farbwechsel von weiß zu blau bei Hover -> Nur auf Geräten, die Hover unterstützen (-> Keine Touchscreens) */
@media (hover: hover) {
    .show_collapse_button:hover {
        color: white;
        background-color: #003aad;
    }
}