.drop-down-list > .list-group-item,
.list-group > .list-group-item {
    border-width: 0;
    padding: 0.2rem 0;
    white-space: nowrap;
    align-items: center;
}

.no-chevron {
    margin: 0 0 0 1.2rem;
}

.chevron-link {
    white-space: nowrap;
}

.list-link, .expand-link {
    white-space: normal;
    display: inline-block;
    margin-left: 0.5rem;
    text-decoration: none;
    color: black;
}

.list-link:hover {
    color: #003aad;
}

.expand-link:hover {
    color: #9c0707;
}

.level-2, .level-3, .level-4, .level-5, .level-6, .level-7, .level-8  {
    margin: 0 0 0 0.8rem;
}

.list-group-item.example, .list-group.example {
    border-width: 0;
    padding: 0;
}

.list-group.example {
    margin: 0 0 0 1.2rem;
}

.rotate {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    outline: none;
}

.rotate.active {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}