.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.footer_link {
    text-decoration: none;
    color: #003aad;
}

.footer_link:hover {
    color: #9c0707;
}

.uni_logo_small, .footer_link {
    display: inline-block;
    height: 40px;
    width: auto;
    margin: 5px 0;
}

.footer_link, {
    line-height: 40px;
}

.uni_link {
    display: none;
}

@media screen and (max-width : 625px) {
    .uni_link {
        display: inline;
    }
   .uni {
       display: none;
   }
}