/* LAYOUT */

/* Gleichmäßiges Verteilen der Footer-Elemente mithilfe von Flexbox */
.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}


/* LOGOS UND LINKS */

.uni_logo_small, .footer_link {
    display: inline-block;
    height: 40px;
    width: auto;
    margin: 5px 0;
}

.footer_link {
    line-height: 40px;
    text-decoration: none;
    color: #003aad;
}

/* Link Farbwechsel von blau zu rot bei Hover -> Nur auf Geräten, die Hover auch unterstüzen (-> Keine Touchscreens) */
@media (hover: hover) {
    .footer_link:hover, .uni_link:hover {
        color: #9c0707;
    }
}

/* Unterbinden der Darstellung des Links zur "Beteiligte Universitäten"-Seite -> Wird nur angezeigt, wenn der Bildschirm zu klein für die Darstellung der Uni-Logos ist */
.uni_link {
    display: none;
}

/* Austauschen der Uni-Logos durch einen Link zur Seite mit den beteiligten Universitäten, sobald der Bildschirm zu klein ist, um die Logos in einer Zeile darzustellen */
@media screen and (max-width: 625px) {
   .uni {
       display: none;
   }
   .uni_link {
        display: inline;
    }
}