/* Brotkrumen- & Kurs-Navigation */

.separation_line {
    margin: 2vh 0;
    color: #9c0707;
    opacity: 1;
}

.course_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.only_next_item {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.breadcrumb_link, .course_link, .previous_link, .next_link {
    text-decoration: none;
    color: #003aad;
}

@media (hover: hover) {
    .breadcrumb_link:hover, .course_link:hover, .previous_link:hover, .next_link:hover {
        color: #9c0707;
    }
}

.previous_link, .next_link {
    white-space: nowrap;
}

.course_separator {
    color: #9c0707;
}


/* Abstände */

:not(.explanation) > .info_example, 
.definition {
    margin: 1.5vh 0;
}

.info_example > .list-group-item {
    margin-top: 1.5vh;
}

.list-group {
    margin-top: 1vh;
}

.section, .text, .poem_line {
    margin: 0;
}

.poem_linegroup {
    padding: 0 0 0.3rem 0;
}

.author_title, .content_data, .reference {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    text-align: right;
}


/* Medien (Bilder/Videos) */

.media {
    border: 1px solid black;
    max-width: 100%;
    height: auto;
}


/* Listen */

.list_item::marker {
    color: #9c0707;
}


/* Tabellen */

.content_table {
    margin: 1rem 0;
    display: block;
    overflow-x: auto;
}

.table_data {
    padding: 0.5rem;
    border: 1px solid black;
}


/* Fußnoten */

.footnote_link, .back_link {
    display: inline-block;
    text-decoration: none;
    color: #003aad;
}

@media (hover: hover) {
    .footnote_link:hover, .back_link:hover {
        color: #9c0707;
    }
}