.brand_medium, .brand_long {
    display: none;
}

@media screen and (max-width: 357px) {
    .brand_short {
        display: inline;
    }
   .brand_medium {
       display: none;
   }
   .brand_large {
        display: none;
   }
}

@media screen and (min-width: 358px) and (max-width: 557px) {
    .brand_short {
        display: none;
    }
   .brand_medium {
       display: inline;
   }
   .brand_long {
       display: none;
   }
}

@media screen and (min-width: 558px)  {
    .brand_short {
        display: none;
    }
   .brand_medium {
       display: none;
   }
   .brand_long {
       display: inline;
   }
}

.navbar-collapse > ul {
    padding-right: 1.25vw;
}

.nav-item, .nav-link {
    display: inline !important;
    color: black !important;
    white-space: nowrap;
}

.nav-link {
    margin: 0 0.5rem 0 0 !important;
    padding: 0 !important;
}

@media (hover: hover) {
    .navbar-brand:hover, .nav-link:hover {
        color: #003aad !important;
    }
}

.dropdown-item:active {
    background-color: #003aad !important;
}

.dropdown-toggle {
    display: inline-block;
    padding: 0 0.5rem;
    margin: 0 -0.5rem;
}

.dropdown-toggle::after {
    display: none !important;
}

@media (hover: hover) {
    .dropdown-toggle:hover ~ .dropdown-menu,
    .dropdown-menu:hover {
        display: block !important;
        margin: 0 !important;
    }
}

@media screen and (max-width: 1199px) {
    .nav-item {
        padding: 3px 0;
    }
    .navbar-nav {
        margin: 7px 0;
    }
}

@media screen and (min-width: 1200px) {
    .dropdown-menu {
      left: 50% !important;
      transform: translateX(-50%) !important;
      margin: 0 !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1499px) {
    .navbar-nav > li {
        padding: 0 2vw;
    }
}

@media screen and (min-width: 1500px) {
    .navbar-nav > li {
        padding: 0 3.5vw;
    }
}