details {
    display: inline;
    position: relative;
}

details > summary:focus {
    outline: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary {
    list-style: none;
    color: #003aad;
}

details > summary + * {
    position: absolute;
    display: block;
    z-index: 1;
    max-width: 40vw;
    max-height: 20vh;
    overflow-y: auto;
    border: solid 1.5px #9c0707;
    padding: 0.5rem;
    background: white;
    scrollbar-width: thin;
    scrollbar-color: #9c0707 transparent;
}

details > summary + *::-webkit-scrollbar {
  width: 7px;
}

details > summary + *::-webkit-scrollbar-thumb {
  background-color: #9c0707;
}

details > * + * {
    display: none;
}

details > summary + * {
    bottom: calc(0.5rem + 75%);
    right: 50%;
    transform: translateX(50%);
}

details[open] > .pop_over_link {
    color: #9c0707;
}

.pop_over_link {
    white-space: nowrap;
}

.pop_over_course_link {
    display: block;
    text-align: right;
}


@media screen and (max-width: 599px) {
    details > summary + * {
        width: 200px;
    }
}

@media screen and (min-width: 600px) and (max-width: 999px) {
    details > summary + * {
        width: 250px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1299px) {
    details > summary + * {
        width: 300px;
    }
}

@media screen and (min-width: 1300px) {
    details > summary + * {
        width: 350px;
    }
}


.rotate-up {
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    outline: none;
}

.rotate-up.active {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}