/* Startseite */

.start_flex {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: calc(2*(500px + 20px));
    gap: 15px;
}

.inner_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: calc(2*(250px + 40px));
    gap: 15px;
}

.start_text {
    margin-bottom: 15px;
    text-align: center;
}