/* Überschriften */

h1 {
    font-size: 1.8rem !important;
    color: #003aad;
}

h2 {
    font-size: 1.4rem !important;
    margin-top: 1rem !important;
}

h3 {
    font-size: 1.2rem !important;
    margin-top: 1rem !important;
    color: #9c0707;
}

h4 {
    font-size: 1rem !important;
    font-weight: bold !important;
    margin-bottom: -0.5rem !important;
}

h5 {
    font-size: 1rem !important;
    font-weight: bold !important;
    color: #9c0707;
}


/* Text */

.term {
    font-weight: bold;
    color: #9c0707;
}

.person, .highlight {
    font-weight: bold;
}

.title, .stage_dir, .italic {
    font-style: italic;
}

.pretext {
    font-weight: bold;
}

.link_text {
    white-space: normal;
}

.internal_link, .external_link, .mail_link {
    color: #003aad;
    text-decoration: none;
    white-space: nowrap;
}

.internal_link:hover, .external_link:hover, .mail_link:hover {
    color: #9c0707;
}

.warning {
    color: #9c0707;
}