/* ABSTÄNDE UND FORMATIERUNG */

.nested_list > .list-group-item,
.list-group > .list-group-item {
    border-width: 0;
    padding: 0.2rem 0;
    white-space: nowrap;
}

/* Einrücken jeder Ebene weiter nach rechts */
.level_2, .level_3, .level_4, .level_5, .level_6, .level_7, .level_8  {
    margin: 0 0 0 0.8rem;
}

/* Einfügen eines zusätzlichen Abstands, um das Fehlen des Chevron-Icons (bei Einträgen ohne ausklappbare Unterebene) zu kompensieren -> Icon-Breite = 16px */
.no_chevron {
    margin: 0 0 0 16px;
}


/* LINKS */

/* Unterbinden von Zeilenumbrüchen im gesamten Link -> Sorgt dafür, dass das Chevron-Icon und der Link-Text auf kleinen Bildschirmen nicht in 2 Zeilen bzw. untereinander dargestellt werden */
.chevron_link {
    white-space: nowrap;
}

/* Erlauben von Zeilenumbrüchen im Link-Text -> Sorgt dafür, dass trotz des Zeilenumbruch-Verbots zwischen Icon und Text dennoch Zeilenumbrüche im Link-Text stattfinden können */
.list_link, .expand_link {
    white-space: normal;
    display: inline-block;
    margin-left: 0.5rem;
    text-decoration: none;
    color: black;
}

/* Link-Farbwechsel bei Hover -> Nur auf Geräten, die Hover unterstützen (-> Keine Touchscreens) */
@media (hover: hover) {
    .list_link:hover {
        color: #003aad;
    }
    .expand_link:hover {
        color: #9c0707;
    }
}