/* Alle Übungen */

.dnd_info, .explanation, .task {
    margin-bottom: 0.5rem;
}

.solution, .answer_pool {
    display: none;
}

.solution {
    text-align: center;
}

.feedback {
    font-weight: bold;
    margin: 0;
}

.answer {
    display: inline-block;
    text-align: left;
}

.correct {
    color: #006400;
    font-weight: bold;
}

.right {
    color: #006400;
}

.wrong {
    color: #9c0707;
}

.exercise_buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;
    gap: 1rem;
}


/* Drag & Drop-Übung */

.drop_areas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 1rem 0;
    gap: 1rem;
}

.drop_wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    flex: 0 0 300px;
}

.drop_head {
    margin: 0.5rem 0;
    color: #003aad;
    font-weight: bold;
}

.drop_separation {
    margin: 0;
    color: black;
    opacity: 1;
}

.drop_area {
    margin: 0.5rem 0;
}

.dnd_items {
    width: 100%;
    text-align: center;
}

[draggable] {
    cursor: move;
    cursor: grab;
}

[draggable]:active {
    cursor: grabbing;
}

.drop_content >* {
    text-align: center;
    margin: 5px 0;
}


/* Markieren-Übung */

.marked {
    background-color: #ffe135;
}

.marked_false {
    color: white;
    background-color: #9c0707;
}

.marked_correct {
    color: white;
    background-color: #006400;
    font-weight: bold;
}

.unmarked_correct {
    color: white;
    background-color: #003aad;
    font-weight: bold;
}


/* Texteingabe-Übung */

.input_field {
    width: 100%;
    height: 150px;
}

/* Multiple Choice- & Alternative Textbeispiele-Übung */

.option {
    position: relative;
    margin: 10px 0;
}

input[type = "radio"] {
    accent-color: #003aad;
    position: absolute;
    margin: 0;
    width: 30px;
    top: 50%;
    transform: translateY(-50%);
}

label {
    display: block;
    padding-left: 40px;
}

/* Lückentext-Übung */

.gap_text {
    padding: 0.5rem 0;
}

.gap {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1.5px solid #003aad;
    background-color: white;
    background-image: url('../images/svg/caret-down-fill.svg');
    background-repeat: no-repeat;
    background-position: 98% 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    cursor: pointer;
    outline: none;
    margin: 0.7rem 0.2rem;
    padding: 0.2rem 25px 0.2rem 0.2rem;
}